importFrom("graphics", plot)

export(
       "orderbook"
       )

exportClasses(
              "orderbook"
              )

exportMethods(
              "show",
	      "summary",
	      "plot",
              "plottrade",
              "display",

              "best.bid",
              "best.ask",
              "get.order.info",

   	      "bid.price.levels",
	      "ask.price.levels",
	      "total.price.levels",

	      "bid.orders",
	      "ask.orders",
	      "total.orders",

	      "mid.point",
	      "inside.market",

	      "spread",

              "add.order",
              "remove.order",
              "replace.order",
              "market.order",

              "read.orders",
              "read.time",
              "view.trade",
              "reset",
              "next.trade",
              "previous.trade",

              "animate.ob")
