useDynLib(orderbook, .registration = TRUE)

importFrom("graphics", plot)

export(
       "orderbook"
       )

exportClasses(
              "orderbook"
              )

exportMethods("read.orders",
              "read.time",
              "best.bid",
              "best.ask",
              "show",
              "plot",
              "plotTrade",
              "summary",
              "display",
              "bid.price.levels",
              "ask.price.levels",
              "total.price.levels",
              "bid.orders",
              "ask.orders",
              "total.orders",
              "mid.point",
              "inside.market",
              "spread",
              "load.animation",
              "load.trade.animation",
              "load.next.trade",
              "load.previous.trade",
              "sort",
              "reset",
              "animate",
              "[",
              "initialize.trades")
