## What does this line accomplish?

useDynLib(orderbook, .registration = TRUE)

importFrom("graphics", plot)

## Anything wrong with exporting all the non-hidden functions?

exportPattern("^[^\\.]")

exportClasses("orderbook")

exportMethods("show",
              "summary",
              "[",
              "display",
              "sort",
              "plot")
