useDynLib(orderbook, .registration = TRUE)

importFrom("graphics", plot)

export(
       "orderbook",
       "o.and.l"
       )

exportClasses(
              "orderbook"
              )

exportMethods("read.orders",
              "read.time",

              "show",
              "best.bid",
              "best.ask",
              "summary",
              "[",
              "display",
              "mid.point",
              "inside.market",
              "spread",
              "reset",
              "sort",
              "plot",
              "initialize.trades",

              "load.animation",
              "load.trade.animation",
              "load.next.trade",
              "load.previous.trade",
              "animate")
